<!doctype html>
<html lang="en" ng-app="angularRxApp" ng-controller="AppController">
<head>
<meta charset="utf-8">
<title>ShowCase :: a PoC for FRP evaluation</title>
<link rel="stylesheet" href="app/css/app.css" />
<link rel="stylesheet" href="app/css/bootstrap.css" />
<link rel="stylesheet" href="app/css/jquery-ui.css" />
</head>
<body>


	<!--  Angular and other dependencies -->
	<script src="app/lib/jquery-1.9.0.js"></script>
	<script src="app/lib/lodash.js"></script>
	<script src="app/lib/angular/angular.js"></script>
	<script src="app/lib/rx.all.js"></script>
	<script src="app/lib/rx.angular.js"></script>
	<script src="app/lib/angular-local-storage.js"></script>
	<script src="app/lib/angular/angular-route.js"></script>
	<script src="app/lib/angular/angular-resource.js"></script>
	<script src="app/lib/bootstrap-tooltip.js"></script>
	<script src="app/lib/bootstrap-popover.js"></script>
	<script src="app/lib/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="app/lib/ui-bootstrap-tpls-0.11.0.js"></script>
	
 	<script src="app/lib/jquery-ui-1.10.4.min.js"></script>
   
    <script src="app/lib/dirPagination.js"></script>
    <script src="app/lib/slider.js"></script>
	<script src="app/js/app.js"></script>


	<!-- Directives -->
	



	<!-- Controllers -->
	<script src="app/js/controllers/AppController.js"></script>


	<!-- Services -->
	<script src="app/js/services/ProductService.js"></script>
	<script src="app/js/services/EbayService.js"></script>


	<!-- Filters -->
	

    
	<div id="main" class="container-fluid">

		 <input type="text" ng-model="search">
   		 <button ng-click="click()">Search</button>
   		 
		<div class="dynamic-content" ng-view></div>

	</div>


</body>
</html>
